<%- include('partials/header'); %>

<p class = "headQuote"><e><%= homeStartingContent %></e></p>


<% for (var i = posts.length - 1 ; i >= 0 ; i-- ){ %>
  <h1><%= posts[i].title %></h1>
  <p><%= posts[i].body.substring(0 , 400) + " ..." %>
  <a href="/posts/<%= posts[i].title %>">Read More</a>
  </p>
<% } %>
<a href="/compose"><button type="button" class="btn btn-outline-primary btn-compose">Compose</button></a>


<%- include('partials/footer'); %>
